.advantages-list {
	background-color: $main-color;
}

.advantages-title {
	font-size: 30px;
	line-height: 30px;
	font-weight: 700;
	color: $white-color;
}

.advantages__description {
	font-size: 20px;
	line-height: 27px;
	color: $white-color;
}
