.advantages__list {
	@include list-style-none;
	background-color: $main-color;
}

.advantages__title {
	font-size: 30px;
	line-height: 30px;
	font-weight: 700;
	text-transform: uppercase;
	color: $white-color;
}

.advantages__description {
	font-size: 20px;
	line-height: 27px;
	color: $white-color;
}
