.contacts__title {
	font-size: 18px;
	line-height: 27px;
	font-weight: 700;
	color: $white-color;
}

.contacts__text {
	font-size: 18px;
	line-height: 27px;
	color: $white-color;
}

.contacts__phone {
	font-size: 18px;
	line-height: 27px;
	color: $white-color;
	border: 1px solid #3e3e3e;
}


