.copyright__title {
	font-size: 18px;
	line-height: 27px;
	color: $white-color;
}

.copyright__link {
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	text-transform: uppercase;
	color: $white-color;
	border: 1px solid #3d3d3d;
}
