.page-header {
	display: flex;
	flex-direction: column;
}

.page-header__logo-link {
	height: 85px;
	background-color: $main-color;
}

@media (min-width: $tablet-width) {
	.page-header__logo-link {
		order: 2;
		height: 400px;
	}
}

@media (min-width: $desktop-width) {
	.page-header__logo-link {
		height: 648px;
	}
}
