.portfolio {
	width: 320px;
	margin: 0 auto;
	background-color: #f8f5f2;
}

.portfolio__list {
	@include list-style-none;
}

.portfolio__text-container {
	border: 1px solid #e6ded7;
	border-top: none;
}

.portfolio__title {
	font-size: 24px;
	line-height: 27px;
	font-weight: 700;
}

.portfolio__text {
	font-size: 18px;
	line-height: 27px;
}

.protfolio__month-work {
	font-size: 20px;
	line-height: 27px;
	font-weight: 700;
	text-transform: uppercase;
	color: $white-color;
	background-color: #826550;
}

.portfolio__tag {
	font-size: 16px;
	line-height: 27px;
	text-transform: uppercase;
}

@media (min-width: $tablet-width) {
	.portfolio {
		width: 640px;
	}

	.portfolio__item {
		margin-bottom: 40px;
	}

	.portfolio__list:last-child {
		margin-bottom: 0;
	}
}

@media (min-width: $desktop-width) {
	.portfolio {
		width: 960px;
	}

	.portfolio__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.portfolio__item {
		width: 292px;
	}

	.portfolio__item--special {
		width: 960px;
	}
}
