.price-list {
	width: 320px;
	margin: 0 auto;
}

.price-list__wrapper {
	background-color: #353535;
}

.price-list__title {
	@include section-title;
	color: $white-color;
}

.price-list__field {
	font-size: 20px;
	line-height: 27px;
	font-weight: 700;
	color: $white-color;
}

.price-list__value {
	font-size: 20px;
	line-height: 27px;
	color: $white-color;
}

.price-list__discount {
	border: 1px solid #484848;
}

.discount__text {
	font-size: 20px;
	line-height: 27px;
	color: $white-color;
}

@media (min-width: $tablet-width) {
	.price-list {
		width: 640px;
	}
}

@media (min-width: $desktop-width) {
	.price-list {
		width: 960px;
	}

	.price-list__wrapper {
		display: flex;
		justify-content: space-between;
	}
}
