.reviews__wrapper {
	background-color: #f8f5f2;
}

.reviews__title {
	@include section-title;
}

.reviews__author-name {
	font-size: 24px;
	line-height: 24px;
	font-weight: 700;
	font-style: normal;
}

.reviews__text {
	font-size: 18px;
	line-height: 27px;
}

@media (min-width: $tablet-width) {
	.reviews__list .reviews__item:nth-child(2) {
		display: none;
	}

	.reviews__list .reviews__item:nth-child(3) {
		display: none;
	}
}

@media (min-width: $desktop-width) {

}
