.stats {
	width: 320px;
	margin: 0 auto;
}

.stats__header {
	padding-top: 30px;
	padding-right: 40px;
	padding-bottom: 25px;
	padding-left: 40px;
	background-color: $white-color;
}

.stats__slogan {
	font-size: 30px;
	line-height: 30px;
	font-weight: 700;
	text-transform: uppercase;
}

.stats__intro {
	font-size: 20px;
	line-height: 27px;
}

.stats__list {
	width: 100%;
}

.stats__legend {
	font-size: 20px;
	line-height: 27px;
	color: rgba($color: $white-color, $alpha: 0.3);
	background-color: $main-color;
}

.stats__value {
	font-size: 40px;
	line-height: 18px;
	font-weight: 700;
	color: $white-color;
}

.stats__field {
	font-size: 18px;
	line-height: 18px;
	color: #f7f4f1;
}

.stats__list:first-child {
	background-color: #404040;
}

.stats__list:nth-child(2) {
	background-color: #4e4e4e;
}

.stats__list:nth-child(3) {
	background-color: #353535;
}

.stats__list:last-child{
	background-color: #404040;
}

@media (min-width: $tablet-width) {
	.stats {
		width: 640px;
		margin-top: -185px;
	}

	.stats__list {
		display: flex;
	}
}

@media (min-width: $desktop-width) {
	.stats {
		display: flex;
		width: 960px;
		margin-top: -160px;
	}

	.stats__header {
		width: 240px;
	}
}
