@import "mixins.scss";
@import "variates.scss";
@import "page-header.scss";
@import "site-list.scss";
@import "user-list.scss";
@import "stats.scss";
@import "advantages.scss";
@import "news.scss";
@import "reviews.scss";
@import "page-footer.scss";
@import "contacts.scss";
@import "social.scss";
@import "copyright.scss";
@import "page-main.scss";
@import "portfolio.scss";
@import "price-list.scss";
@import "subscribe-modal.scss";
@import "barber-filter.scss";

body {
	font-family: 'PT Sans Narrow', 'Arial', sans-serif;
	font-weight: 400;
	color: #000000;
}

a {
	text-decoration: none;
}
